.slider {
    gap: 0.5rem;

    .sliderBtn {
      background-color: transparent;
      border: none;
      // width: 3%;
      padding: 0;
    }
    .seeker {
      appearance: none;
      height: 20%;
      border-radius: 2rem;
      align-self: center;
      background: #ffffff3b;
      &::-webkit-slider-thumb {
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: #ffffff;
        border-radius: 50%;
        cursor: pointer;
      }

      &::-moz-slider-thumb {
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: #ffffff;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }