.cropperVid {
  gap: 10px;
  padding: 8px;
  width: 40%;

  .videoEl {
    border-radius: 4px;
  }

  .vidControlPanel {
    padding: 0;
    margin: 0;

    .timeDisplay {
      gap: 3px;
      .currentTime {
        color: #ffffff;
      }
      .timeDiv {
        border-left: 2px solid #ffffff80;
      }
      .totalTime {
        color: #ffffff80;
      }
    }

    .playbackCont {
      height: 30%;
      justify-content: space-between;
    }

    .volumeSlider {
      height: 40%;
    }
  }

  .cropper {
    background: transparent;
    cursor: grab;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .cropperGrid {
      border: dashed #ffffff 1px;
    }
  }
}
