.cropperVid {
  gap: 10px;
  padding: 8px;
  width: 40%;

  .videoEl {
    border-radius: 4px;
  }

  .vidControlPanel {
    padding: 0;
    margin: 0;

    .timeDisplay {
      gap: 3px;
      .currentTime {
        color: #ffffff;
      }
      .timeDiv {
        border-left: 2px solid #ffffff80;
      }
      .totalTime {
        color: #ffffff80;
      }
    }

    .playbackCont{
      width: 30%;
      height: 30%;
    }

    .volumeSlider{
      height: 40%;
    }
  }
}
